<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<title>Oxd-Node</title>
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<style>
    body {
        padding-top: 10px;
    }

    .m-t-10 {
        margin-top: 10em;
    }

    .p-l-0 {
        padding-left: 0 !important;
    }

    .inline-label {
        float: left;
        line-height: 30px;
    }

    .inline-control {
        width: 50% !important;
    }

    .btn-align {
        padding-left: 8px;
    }

    .app_enable {
        margin-right: 5px !important;
    }

    .btn-logout {
        margin-top: 15px;
    }

    .m-y-15 {
        margin: 15px 0;
    }

    .m-l-3-8 {
        margin-left: 2.2em;
    }

    .lazy-login-image {
        width: 40px !important;
        height: 40px !important;
        margin-left: 1px !important
    }
</style>
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
