<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./head %>
</head>

<body class="container" style="top:5%">
    <div class="alert alert-danger" style="display:<%= errorVisibility%>">
        <strong><%= errorName%></strong>
        <%= errorMessage%>
    </div>
    <main>
        <div class="jumbotron container">
            <div class="form-group col-md-12 btn-info">
                <h2 class="text-left col-md-8 m-y-15 p-l-0">Welcome Admin</h2>
            </div>
            <div class="row">
                <div class="col-md-12 mess_red">
                    <h3>Instructions to Install oxd server</h3>
                    <br><b>NOTE:</b> The oxd server must be running, and listening on localhost. For more info see <a target="_blank" href="https://oxd.gluu.org"> https://oxd.gluu.org</a>
                    <ol style="list-style:decimal !important; margin: 30px">
                        <li>Extract and copy in your DMZ Server.</li>
                        <li>Download the latest oxd-server package for Centos or Ubuntu. See
                            <a target="_blank" href="http://gluu.org/docs-oxd">oxd docs</a> for more info.
                        </li>
                        <li>If you are installing an .rpm or .deb, make sure you have Java in your server.
                        </li>
                        <li>Edit <b>oxd-conf.json</b> in the <b>conf</b> directory to specify the port on which it will run, and specify the hostname of the OpenID Connect provider.</li>
                        <li>Open the command line and navigate to the extracted folder in the <b>bin</b> directory.</li>
                        <li>For Linux environment, run <b>sh oxd-start.sh &amp;</b></li>
                        <li>For Windows environment, run <b>oxd-start.bat</b></li>
                        <li>After the server starts, set the port number and your email in this page and click Next.</li>
                    </ol>
                </div>
            </div>
            <form id="register_site" role="form" action="/register_site" method="post" class="form-signin">
                <div class="form-group col-md-9 col-sm-12 col-xs-12">
                    <label class="inline-label col-md-4 col-sm-12 col-xs-12">Admin Email : </label>
                    <input type="email" name="email" placeholder="Admin Email" id="txtEmail" class="form-control inline-control col-sm-12 col-xs-12" autofocus="" required="" />
                </div>
                <div class="form-group col-md-9 col-sm-12 col-xs-12">
                    <label class="inline-label col-md-4 col-sm-12 col-xs-12">Acr Values : </label>
                    <input type="checkbox" id="gplus_enable" class="app_enable" name="oxd_openid_gplus_enable" value="1">
                    <label> Google</label>
                    <input type="checkbox" id="basic_enable" class="app_enable" name="oxd_openid_basic_enable" value="1">
                    <label> Basic</label>
                    <input type="checkbox" id="duo_enable" class="app_enable" name="oxd_openid_duo_enable" value="1">
                    <label> Duo</label>
                    <input type="checkbox" id="u2f_enable" class="app_enable" name="oxd_openid_u2f_enable" value="1">
                    <label> U2F token</label>
                </div>
                <div class="form-group col-md-9 col-sm-12 col-xs-12">
                    <label class="inline-label col-md-4 col-sm-12 col-xs-12">Scopes : </label>
                    <input type="checkbox" class="app_enable" name="scope_openid" id="openid" value="1">
                    <label for="openid">openid</label>
                    <input type="checkbox" class="app_enable" name="scope_profile" id="profile" value="1">
                    <label for="profile">profile</label>
                    <input type="checkbox" class="app_enable" name="scope_email" id="email" value="1">
                    <label for="email">email</label>
                    <input type="checkbox" class="app_enable" name="scope_address" id="address" value="1">
                    <label for="address">address</label>
                    <input type="checkbox" class="app_enable" name="scope_clientinfo" id="clientinfo" value="1">
                    <label for="clientinfo">clientinfo</label>
                    <input type="checkbox" class="app_enable" name="scope_mobile" id="mobile_phone" value="1">
                    <label for="mobile_phone">mobile_phone</label>
                    <input type="checkbox" class="app_enable" name="scope_phone" id="phone" value="1">
                    <label for="phone">phone</label>
                </div>
                <div class="form-group col-md-2 col-md-offset-3 btn-align">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" id="btnSignin">Register Site</button>
                </div>
            </form>
        </div>
    </main>

    <footer class="navbar-fixed-bottom">
        <% include ./footer %>
    </footer>
</body>

</html>
